<a href="https://colab.research.google.com/github/Danielaaron1994/Action-effect-learning-analysis/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import math
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

Saving final pretouch dataset - Copy.csv to final pretouch dataset - Copy.csv

In [3]:
import io
df = pd.read_csv(io.BytesIO(uploaded['final pretouch dataset - Copy.csv']))

In [4]:
print(df.columns)

Index(['Gender', 'AGENT G', 'VERT ', 'HORIZ', 'DISTANCE'], dtype='object')

In [5]:
def deg_to_rad(x):
  return np.pi * x / 180

In [6]:
df['VERT_radian'] = deg_to_rad(df['VERT '])

In [7]:
df['HORIZ_radian'] = deg_to_rad(df['HORIZ'])

In [8]:
df.head()

   Gender  AGENT G  VERT   HORIZ  DISTANCE  VERT_radian  HORIZ_radian
0       2        2     10    -20  0.071402     0.174533     -0.349066
1       2        2    -20     10  0.125745    -0.349066      0.174533
2       2        2    -40    -25  0.120367    -0.698132     -0.436332
3       2        2    -40    -15  0.190486    -0.698132     -0.261799
4       2        2     30     25  0.074720     0.523599      0.436332

In [15]:
def x_calculator(r,phi,theta):
  x = r * np.sin(theta) * np.cos(phi)
  return x

In [16]:
df['x_score'] = x_calculator(df['DISTANCE'], df['VERT_radian'], df['HORIZ_radian'])

In [17]:
df.head(
)

   Gender  AGENT G  VERT   HORIZ  DISTANCE  VERT_radian  HORIZ_radian   x_score
0       2        2     10    -20  0.071402     0.174533     -0.349066 -0.024050
1       2        2    -20     10  0.125745    -0.349066      0.174533  0.020519
2       2        2    -40    -25  0.120367    -0.698132     -0.436332 -0.038968
3       2        2    -40    -15  0.190486    -0.698132     -0.261799 -0.037767
4       2        2     30     25  0.074720     0.523599      0.436332  0.027347

In [18]:
def y_calculator(r,phi,theta):
  y = r * np.sin(theta) * np.sin(phi)
  return y

In [19]:
df['y_score'] = y_calculator(df['DISTANCE'], df['VERT_radian'], df['HORIZ_radian'])

In [20]:
def z_calculator(r,theta):
  z = r * np.cos(theta)
  return z

In [21]:
df['z_score'] = z_calculator(df['DISTANCE'], df['HORIZ_radian'])

In [23]:
df.columns
df.head(35)

    Gender  AGENT G  VERT   HORIZ  ...  HORIZ_radian   x_score   y_score   z_score
0        2        2     10    -20  ...     -0.349066 -0.024050 -0.004241  0.067096
1        2        2    -20     10  ...      0.174533  0.020519 -0.007468  0.123834
2        2        2    -40    -25  ...     -0.436332 -0.038968  0.032698  0.109089
3        2        2    -40    -15  ...     -0.261799 -0.037767  0.031690  0.183995
4        2        2     30     25  ...      0.436332  0.027347  0.015789  0.067719
5        2        2     35     25  ...      0.436332  0.020012  0.014013  0.052392
6        2        2     20    -30  ...     -0.523599 -0.035496 -0.012920  0.065427
7        2        2     25    -15  ...     -0.261799 -0.018741 -0.008739  0.077174
8        2        2     20     30  ...      0.523599  0.032705  0.011904  0.060283
9        2        2    -30     20  ...      0.349066  0.031214 -0.018022  0.099028
10       2        2    -15     15  ...      0.261799  0.022414 -0.006006  0.086602
11       2        2     40    -10  ...     -0.174533 -0.008430 -0.007074  0.062411
12       2        2      5     20  ...      0.349066  0.019607  0.001715  0.054076
13       2        2    -45     25  ...      0.436332  0.043434 -0.043434  0.131727
14       2        2    -45     10  ...      0.174533  0.011620 -0.011620  0.093194
15       2        2     45    -25  ...     -0.436332 -0.015479 -0.015479  0.046945
16       2        2     15     15  ...      0.261799  0.014797  0.003965  0.057170
17       2        2    -25    -25  ...     -0.436332 -0.022256  0.010378  0.052663
18       2        2     35    -10  ...     -0.174533 -0.009579 -0.006707  0.066316
19       2        2    -45      0  ...      0.000000  0.000000 -0.000000  0.099919
20       2        2     20      5  ...      0.087266  0.005794  0.002109  0.070474
21       2        2     35    -20  ...     -0.349066 -0.015316 -0.010724  0.051369
22       2        2     10    -30  ...     -0.523599 -0.028282 -0.004987  0.049741
23       2        2      5     10  ...      0.174533  0.011543  0.001010  0.065713
24       2        2     25     25  ...      0.436332  0.029439  0.013727  0.069658
25       2        2    -30    -30  ...     -0.523599 -0.056573  0.032663  0.113147
26       2        2     30     30  ...      0.523599  0.026311  0.015191  0.052622
27       2        2     15    -15  ...     -0.261799 -0.021259 -0.005696  0.082138
28       2        2    -20      0  ...      0.000000  0.000000 -0.000000  0.099728
29       2        2    -15    -30  ...     -0.523599 -0.047490  0.012725  0.085156
30       2        2     40     -5  ...     -0.087266 -0.005603 -0.004702  0.083609
31       2        2      0    -10  ...     -0.174533 -0.010567 -0.000000  0.059929
32       2        2      5    -25  ...     -0.436332 -0.035934 -0.003144  0.077355
33       2        2     45    -20  ...     -0.349066 -0.014088 -0.014088  0.054738
34       2        2     -5     10  ...      0.174533  0.012335 -0.001079  0.070221

[35 rows x 10 columns]

In [24]:
df.to_csv('x_y_z_added_df.csv') 
files.download('x_y_z_added_df.csv')

In [ ]:
def r_calculator(x,y,z):
  r = np.sqrt(np.power(x,2) + np.power(y,2) + np.power(z,2))
  return r

In [ ]:
df['r_score'] = r_calculator(df['HORIZ'], df['VERT '], df['DISTANCE'])

In [ ]:
def azimuth_calculator(y,x):
  z = np.arctan((y/x))
  return z

In [ ]:
df['z_score'] = azimuth_calculator(df['VERT '], df['HORIZ'])

In [ ]:
def theta_calculator(x,y,z):
  theta = np.arctan(np.sqrt(np.power(x,2) + np.power(y,2)) / z )
  return theta

In [ ]:
df['theta_score'] = theta_calculator(df['HORIZ'], df['VERT '], df['DISTANCE'])

In [ ]:
print(df)

      Gender  AGENT G  VERT   HORIZ  ...     theta    r_score   z_score  theta_score
0          2        2     10    -20  ...  1.567603  22.360794 -0.463648     1.567603
1          2        2    -20     10  ...  1.565173  22.361033 -1.107149     1.565173
2          2        2    -40    -25  ...  1.568245  47.170059  1.012197     1.568245
3          2        2    -40    -15  ...  1.566337  42.720443  1.212026     1.566337
4          2        2     30     25  ...  1.568883  39.051320  0.876058     1.568883
...      ...      ...    ...    ...  ...       ...        ...       ...          ...
9636       1        1    -10     30  ...  1.563958  31.623516 -0.321751     1.563958
9637       1        1    -10     20  ...  1.560064  22.361968 -0.463648     1.560064
9638       1        1      0     25  ...  1.561168  25.001159  0.000000     1.561168
9639       1        1    -10     -5  ...  1.546791  11.183562  1.107149     1.546791
9640       1        1    -45    -25  ...  1.565376  51.478907  1.063698     1.565376

[9641 rows x 11 columns]

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import cm, colors
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
from scipy.special import sph_harm

In [ ]:
phi = df['HORIZ']
print(phi.shape)
theta = df['VERT ']
print(theta.shape)

phi, theta = np.meshgrid(phi, theta)
print(phi.shape)

r = df['DISTANCE']

(9641,)
(9641,)
(9641, 9641)

In [ ]:
# The Cartesian coordinates of the unit sphere
x = np.sin(phi) * np.cos(theta) 
print(x.shape)
y = np.sin(phi) * np.sin(theta)
z = np.cos(phi) 

m, l = 2, 3

(9641, 9641)

In [ ]:
# Calculate the spherical harmonic Y(l,m) and normalize to [0,1]
fcolors = sph_harm(m, l, theta, phi).real
fmax, fmin = fcolors.max(), fcolors.min()
fcolors = (fcolors - fmin)/(fmax - fmin)

In [ ]:
# Set the aspect ratio to 1 so our sphere looks spherical
fig = plt.figure(figsize=plt.figaspect(1.))
ax = fig.add_subplot(111, projection='3d')
ax.plot_surface(x, y, z,  rstride=1, cstride=1, facecolors=cm.seismic(fcolors))
# Turn off the axis planes
ax.set_axis_off()
plt.show()